* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 4px;
    background-color: #f6f6f6;
    border: solid 1px #ececec;
}

ul {
    margin: 0 0 20px 30px;
}

li {
    margin: 0 0 4px 0;
}

h1 {
    font-size: 26px;
}

h1, h3, hr {
    margin: 0 0 22px 0;
}

header {
    overflow: hidden;
    background: rgba(220, 220, 220, 1);
    padding: 5px 0;
    margin: 0 0 12px 0;
}

    header h1 {
        float: left;
        margin: 0 0 0 5px;
    }

    header a {
        float: right;
        margin: 4px 5px 0 5px;
    }

.mainPageWrapper {
    /*margin: 0px auto;
    max-width: 1200px;*/
    padding: 0 10px;
}

input[type=text] {
    font-size: 16px;
    width: 100px;
    padding: 4px;
}

    input[type=text].smallNumber {
        width: 50px;
    }

input[type=number] {
    font-size: 16px;
    width: 50px;
    padding: 4px;
}

input[type=checkbox] {
    font-size: 16px;
}



#gameBoardBody #controlsHolder {
    float: right;
    background-color: #eaeaea;
    padding: 5px;
    border: solid 1px #ccc;
    min-width: 24%;
}

#gameBoardBody .bordHolder {
    display: table;
    border: solid 1px #ccc;
}

    #gameBoardBody .bordHolder.cellsClickable .bordCell {
        cursor: pointer;
    }

#gameBoardBody .bordRow {
    overflow: hidden;
}

#gameBoardBody .bordCell {
    float: left;
    position: relative;
    border: solid 1px #ccc;
    min-height: 50px;
    min-width: 50px;
    padding: 10px;
}

    #gameBoardBody .bordCell .cellId {
        position: absolute;
        font-size: 9px;
        top: 0;
        right: 0;
        color: #ccc;
    }

    #gameBoardBody .bordCell .iconTopper {
        min-height: 50px;
        min-width: 50px;
        border: dotted 1px #eaeaea;
        text-align: center;
        line-height: 50px;
    }

#gameBoardBody .clickable {
    color: blue;
    cursor: pointer;
}