* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 4px;
    background-color: #f6f6f6;
    border: solid 1px #ececec;
}

ul {
    margin: 0 0 20px 30px;
}

li {
    margin: 0 0 4px 0;
}

h1 {
    font-size: 26px;
}

h1, h3, hr {
    margin: 0 0 22px 0;
}

header {
    overflow: hidden;
    background: rgba(220, 220, 220, 1);
    padding: 5px 0;
    margin: 0 0 12px 0;
}

    header h1 {
        float: left;
        margin: 0 0 0 5px;
    }

    header a {
        float: right;
        margin: 4px 5px 0 5px;
    }

.mainPageWrapper {
    /*margin: 0px auto;
    max-width: 1200px;*/
    padding: 0 10px;
}

input[type=text] {
    font-size: 16px;
    width: 100px;
    padding: 4px;
}

    input[type=text].smallNumber {
        width: 50px;
    }

input[type=number] {
    font-size: 16px;
    width: 50px;
    padding: 4px;
}

input[type=checkbox] {
    font-size: 16px;
}

.redDot {
    color: red;
}

    .redDot:before {
        content: "•";
    }

.blueDot {
    color: blue;
}

    .blueDot:before {
        content: "•";
    }

#gameNameHeading {
    background-color: #efefef;
    padding: 5px 4px;
    margin: 0 0 8px 0;
}


#gameNameHeading {
    overflow: hidden;
}

    #gameNameHeading h2, #gameNameHeading .saveBtn {
        float: left;
        margin: 0 10px 0 0;
    }

    #gameNameHeading a {
        float: right;
        margin: 5px 5px 0 14px;
    }


#gameBoardForm #controlsHolder {
    float: right;
    background-color: #eaeaea;
    padding: 5px;
    border: solid 1px #ccc;
    min-width: 1%;
}

    #gameBoardForm #controlsHolder .heading {
        display: none;
    }

    #gameBoardForm #controlsHolder label:hover {
        background-color: #f8f8f8;
    }

    #gameBoardForm #controlsHolder label.selectedCntlLabel {
        background-color: #fff;
    }


.iconList {
    margin: 0 0 16px 0;
}

.heroIcon {
    font-weight: bold;
    margin: 0 0 5px 0;
}


#gameBoardForm .bordHolder {
    display: table;
    border: solid 1px #ccc;
}

    #gameBoardForm .bordHolder.cellsClickable .bordCell {
        cursor: pointer;
    }


#gameBoardForm .bordRow {
    overflow: hidden;
}





#gameBoardForm .bordCell {
    float: left;
    position: relative;
    border: solid 1px #ccc;
    min-height: 31px;
    min-width: 31px;
    padding: 2px;
}

    #gameBoardForm .bordCell .cellId {
        position: absolute;
        font-size: 9px;
        top: 0;
        right: 0;
        color: #ccc;
        display: none;
    }
    /*#gameBoardForm .bordCell .iconTopper:before {
        content: "..";
    }*/
    #gameBoardForm .bordCell .iconTopper {
        min-height: 36px;
        min-width: 36px;
        text-align: center;
        line-height: 36px;
    }

#gameBoardForm .clickable {
    color: blue;
    cursor: pointer;
}


#roundTrackerForm #attackStatus label {
}

#roundTrackerForm #attackStatus input {
    zoom: 1.6;
}

#roundTrackerForm #attackStatus td {
    text-align: center;
}
#roundTrackerForm #attackStatus td:first-child {
    text-align: left;
}